body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
 
hr {
  height: 1px;
  background-color: #333;
}

input[type=text] {
 border-bottom: 1px solid #2196f3;
}

input[type=text]:focus:not([readonly]) {
 border-bottom: 1px solid #2196f3;
 box-shadow: 0 1px 0 0 white;
}
.hidden {
  display: none;
}

.hidden-disabled {

}

.blacktext {
  color: black;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  font-size: 30px;
}

.matPic {
  display: block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  transition: opacity .4s;
}
.matPic.active {
  cursor: zoom-out;
}

.slider .indicators .indicator-item.active {
 background-color: #2196f3;
}

.sign {
  margin-top: 5%;
}

.right {
  margin-left: 10%;
}

.cameras {
  margin-right: 6%;
  max-height: 380px;
  min-height: 380px;
}
.cameras1 {
  margin-left: 9%;
}

.addButton {
  margin-top: 20px;
}

.checkout {
  background-color: #fafafa;
}

.quantity {
  padding-left: 18px;
}

.shipping {
  border-right: 1px solid;
}

.sale {
  margin-top: 20px;
}
