<main>
  <div class="container" ng-controller="OrdersCtrl as ordersCtrl">
    <div class="row">
  <ul class="collection with-header">
      <li class="collection-header"><h4>Your Past Orders</h4></li>
      <li class="collection-item" ng-repeat="order in ordersCtrl.orders()">
        <table>
          <thead>
            <thead>
              <tr class="center-align">
                  <th>Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Order Date</th>
              </tr>
            </thead>
          <tbody>
            <tr>
            <td>{{ order.name }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.quantity }}</td>
            <td>Order Date: {{ order.created_at }}</td>
          </tr>
          </tbody>
        </table>
        </li>
    </ul>
</div>
</div>

</main>
