<main>
  <div class="container" ng-controller="OrdersCtrl as ordersCtrl">
    <div class="row">
        <table class="striped">
            <thead>
              <tr class="center-align">
                  <th>Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>Order Date</th>
              </tr>
            </thead>
          <tbody>
            <tr ng-repeat="order in ordersCtrl.orders()">
            <td>{{ order.name }}</td>
            <td>{{ order.price | currency }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.quantity * order.price | currency }}</td>
            <td>{{ order.created_at | date}}</td>
          </tr>
          </tbody>
        </table>
        </li>
    </ul>
</div>
</div>

</main>
