
  <div class="container" ng-controller="SignInCtrl as signIn">
    <div class="row center-align">
      <h1>Sign In!</h1>
      <div class="col s10 offset-s1">
        <hr>
      </div>
    </div>
    <div class="row sign">
      <form class="col s10 offset-s1">
        <div class="row">
          <div class="col s12">
            <label for="email">Email</label>
            <input id="email" type="email" class="validate" ng-model="signIn.email">
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label for="password">Password</label>
            <input id="password" type="password" class="validate" ng-model="signIn.password">
          </div>
        </div>
        <div class="row center-align">
          <a class="waves-effect waves-light btn blue" ng-click="signIn.signIn(signIn.email, signIn.password)">Sign In!</a>
        </div>
      </form>
    </div>
  </div>
