
  <div class="container" ng-controller="SignUpCtrl as sign">
    <div class="row center-align">
      <h1>Sign-up!</h1>
      <div class="col s10 offset-s1">
        <hr>
      </div>
    </div>
    <div class="row sign">
  <form class="col s10 offset-s1">
    <div class="row">
      <div class="col s6">
        <label for="first_name">First Name</label>
        <input id="first_name" type="text" class="validate" ng-model="sign.first">
      </div>
      <div class="col s6">
        <label for="last_name">Last Name</label>
        <input id="last_name" type="text" class="validate" ng-model="sign.last">
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <label for="email">Email</label>
        <input id="email" type="email" class="validate" ng-model="sign.email">
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <label for="password">Password</label>
        <input id="password" type="password" class="validate" ng-model="sign.password">
      </div>
    </div>
    <div class="row center-align">
      <a class="waves-effect waves-light btn blue" ng-click="sign.signUp(sign.first, sign.last, sign.email, sign.password)">Sign Up!</a>
  </form>
</div>

  </div>
</div>
