<nav>
  <div class="nav-wrapper white blue-text" ng-controller="CartCountCtrl as count">
    <a ui-sref="home" class="blue-text logo">Snap Shop</a>
    <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="250" closeonclick="false">
      <i class="material-icons blue-text">menu</i></a>
             <ul class="right hide-on-med-and-down">
               <li><a ui-sref="signup" class="blue-text">Sign-Up</a></li>
               <li><a ui-sref="signin" class="blue-text">Sign-In</a></li>
               <li><a ui-sref="orders" class="blue-text">My Orders</a></li>
               <a class="btn blue" href="#demoModal" modal>My Cart ({{ count.cartCount() }})</a>
             </ul>
             <ul class="side-nav" id="nav-mobile">
               <li><a ui-sref="signup" class="blue-text">Sign-Up</a></li>
               <li><a href="signin" class="blue-text">Sign-In</a></li>
               <li><a ui-sref="orders" class="blue-text">My Orders</a></li>
               <a class="btn blue" href="#demoModal" modal>My Cart ({{ count.cartCount() }})</a>
             </ul>
          </div>
       </nav>

       <div id="demoModal" class="modal" ng-controller="CartCtrl as cart">
         <div class="modal-content">
           <h4>Your Cart</h4>
           <table class="striped">
             <thead>
               <tr>
                   <th>Name</th>
                   <th class="quantity">Quantity</th>
                   <th class="center-align">Item Price</th>
               </tr>
             </thead>
             <tbody>
               <tr ng-repeat="item in cart.cart()">
                 <td>{{ item.name }}</td>
                 <td><a href="#" ng-click="cart.decreaseQuantity($index)"><i class="material-icons red-text minus">remove</i>
                   <span class="blacktext">{{ item.quantity }}</span>
                   <a href="#" class="green-text" ng-click="cart.increaseQuantity($index)"><i class="material-icons">add</i></td>
                 <td class="center-align">{{ item.price | currency }}</td>
                 <td><a href="#" class="red-text" ng-click="cart.removeFromCart($index)"><i class="material-icons">remove_shopping_cart</i></a></td>
               </tr>
               <tr>
                 <td><strong>Subtotal:</td>
                 <td></td>
                 <td class="center-align"><strong>{{ cart.subtotal() | currency }}</td>
               </tr>
               <tr>
                 <td><strong>Tax:</td>
                 <td></td>
                 <td class="center-align"><strong>{{ cart.subtotal() * .10 | currency }}</td>
               </tr>
               <tr>
                 <td><strong>Total</td>
                 <td></td>
                 <td class="center-align"><strong>{{ cart.subtotal() + (cart.subtotal() * .10) | currency }}</td>
               </tr>

             </tbody>
           </table>
         </div>
         <div class="modal-footer">
           <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
           <a ui-sref="checkout" class=" modal-action modal-close waves-effect waves-green btn-flat">Checkout</a>
         </div>
       </div>
